
@import "compass/css3";

/* ************************************************* */
/* Base Styles
/* ************************************************* */

body {
    font-family: $font-body;
    font-weight: 400;
    line-height: 2;
}

section {
    overflow: hidden;
}


h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 14px;
}

p, span, a {
    font-size: 16px;
}

a {
    color: #000;
}

* {
	//outline: 1px solid red;
}

/* ************************************************* */
/* Utilities
/* ************************************************* */

.img-responsive {
	width: 100% !important;}

.no-padding {
	padding-left: 0 !important; padding-right: 0 !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.no-margin {
	margin-left: 0 !important; margin-right: 0 !important;
}

.padding-25 {
	padding-left: 25px !important; padding-right: 25px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.visible {
    visibility: visible !important;
}
 
.highlight {
    color: $pink !important;
}
	